div.p3.bg-white.rounded.shadow-bottom.mt2
  h1.mt0 Welcome home
  p.md-col-7.gray This is your mission control, providing you with the latest news and the latest activities from other organizations for the ongoing session. 
  a.button Get Started

div.mxn2.clearfix
  div.md-col.md-col-6.px2
    h3.regular.mid-gray Latest Activities
    div.bg-white.shadow-bottom.rounded
      div(ng-init="tab = { item: 'important'}").p2.gray
        a(ng-click="tab.item = 'important'").button.button-small.button-transparent.black Important
        a(ng-click="tab.item = 'all'").button.button-small.button-transparent All
      div(ng-if="tab.item == 'important'")
        div.rounded-bottom.bg-lightest-gray.py1
          div.py1.px2(ng-repeat="activity in ::vm.activities.private").flex.flex-center
            img(src="//placehold.it/32x32")
            div.ml1.flex-auto {{activity.message}}
        div.p2
          a.button.button-small.button-transparent See More
      div(ng-if="tab.item == 'all'")
        div.rounded-bottom.bg-lightest-gray.py1
          div.py1.px2(ng-repeat="activity in ::vm.activities.public").flex.flex-center
            img(src="//placehold.it/32x32")
            div.ml1.flex-auto {{activity.message}}
        div.p2
          a.button.button-small.button-transparent See More

  div.md-col.md-col-6.px2
    h3.regular.mid-gray Latest News
    div(ng-repeat="news in ::vm.news").p2.bg-white.rounded.shadow-bottom.mb2
      h3.mt0 {{news.title}}
      p.gray.mb1 {{news.content}}
      a(href="{{news.link}}", target="_blank") Read More
  
    a.button.bg-gray(href="http://pathwar.tumblr.com", target="_blank") View archives
      
