h4.m0.p2.regular.gray Redeem a coupon
form(ng-submit="vm.redeem(coupon)", style="width: 200px").p2.bg-lightest-gray
  input(type="text", placeholder="Enter your coupon", ng-model="coupon.value", required="true").field-light.block.full-width
  input(type="submit", value="Redeem").button.block.full-width
