div.center
  h1 Redeem
  form(ng-submit="vm.redeem(coupon)").sm-col-6.inline-block
    input(type="text", placeholder="Enter your coupon", ng-model="coupon.value").field-light.block.full-width
    input(type="submit").button.button-blue.block.full-width
