h2.m0.regular.mid-gray
  a(ui-sref="levels.list")
    | Levels

div.p3.bg-white.rounded.mt2.shadow-bottom
  h1.mt0 Welcome to the level library
  p.md-col-7.gray The Pathwar team has created more than 150 levels covering a wide range of vulnerabilities that you will encounter in the real world. 

div.p2.bg-white.rounded.mt3.clearfix.shadow-bottom
  i.fa.fa-search.inline-block.px1
  input(type="text", placeholder="Search levels, vulnerabilities", ng-model="search.$").field-light.no-border.m0.inline-block.md-col-8
  div.inline-block.right-align
    | # finished

div.p3.bg-white.rounded.mt3.shadow-bottom

  h2.mt0.mb2.regular.mid-gray Levels

  table.table-light
    thead.bg-darken-1.bold
      tr
        th Name
        th Tags
        th Price
        th Reward 
        th
    tbody
      tr(ng-repeat="level in vm.levels | filter:search | orderBy:level.statistics.amount_finished")
        td
          i(ng-if="::level.bought").fa.fa-dot-circle-o
          | &nbsp;
          a(ui-sref="levels.view({id: level._id})") {{::level.name}}
        td
          span(ng-repeat="tag in ::level.tags").h6.inline-block.px1.mr1.blue.border.border-blue.rounded {{::tag}}
        td {{::level.price}}
        td {{::level.reward}}
        td.right-align
          button.button(ng-click="vm.buyLevel(level)", ng-disabled="level.bought") Buy
