h2.m0.regular.mid-gray
  a(ui-sref="levels.list")
    | Levels

div.p2.sm-p3.bg-white.rounded.mt2.shadow-bottom.hide
  h1.mt0 Welcome to the level library
  p.md-col-7.gray The Pathwar team has created more than 150 levels covering a wide range of vulnerabilities that you will encounter in the real world. 

div.p2.bg-white.rounded.mt2.clearfix.shadow-bottom
  i.fa.fa-search.inline-block.px1
  input(type="text", placeholder="Search levels, vulnerabilities", ng-model="search.$").field-light.no-border.m0.inline-block.md-col-8

div.p2.sm-p3.bg-white.rounded.mt2.shadow-bottom

  h2.mt0.mb2.regular.mid-gray Levels
  
  div.flex.flex-center.p1.bold.border-bottom
    span.flex-auto.sm-flex-none.sm-col-6 Name
    span.flex-auto.sm-show Tags
    span.sm-col-1.center.flex-right.sm-show Price
    span.sm-col-1.center.flex-right.sm-show Reward
    span.sm-col-1.flex-right &nbsp;
     
  div(ng-repeat="level in vm.levels | filter:search | orderBy:level.statistics.amount_finished",
      ng-class-even="'bg-lightest-gray'").flex.flex-center.p1
    div.flex-auto.sm-flex-none.sm-col-6.ucfirst
      a(ui-sref="levels.view({id: level._id})").block
        i(ng-if="::level.status == 'validated'").fa.fa-check-circle.inline-block.mr1.green
        i(ng-if="::level.status == 'refused'").fa.fa-times-circle.inline-block.mr1.red
        | {{::level.name}}
    div.flex-auto.sm-show
      span(ng-repeat="tag in ::level.tags").h6.inline-block.px1.mr1.blue.border.border-blue.rounded {{::tag}}
    span.sm-col-1.center.flex-right.sm-show {{::level.price}}
    span.sm-col-1.center.flex-right.sm-show {{::level.reward}}
    div.right-align.sm-col-1.flex-right
      button.button(ng-click="vm.buyLevel(level)", ng-if="!level.bought") Buy
      a.button.button-transparent(ng-show="level.bought", ui-sref="levels.view({id: level._id})") View
