h2.mt0.mb2.regular.mid-gray
  a(ui-sref="levels.list")
    i.fa.fa-arrow-left
    |&nbsp; Levels

div(ng-show="!vm.organizationBoughtLevel(vm.orgLevel)").rounded.p2.bg-yellow
  | You must buy this level before accessing it. This level costs {{vm.level.price}}, <a ng-click="vm.buyLevel(vm.level)">Buy it here !</a>

div(ng-if="vm.level.validated").rounded.mt3.bg-blue.shadow-bottom

  div.p3.white
    h1.m0 Congratulations
    p.mt2.sm-col-8 You validated this level

  div.px2.py2.bg-white.rounded-bottom.border-top.border-lighter-gray
    a.button Next Level

div.rounded.mt3.bg-white.shadow-bottom
  div.p3
    h3.mt0.regular.light-gray Level
    h1.m0.ucfirst {{vm.level.name}}
    div.h6
      a(href="")
        | {{vm.level.author}}
        |&nbsp; (Author)
    div
      i.fa.fa-star.yellow
      i.fa.fa-star.yellow
      i.fa.fa-star.yellow
      i.fa.fa-star.yellow
      i.fa.fa-star

    p.mt2.sm-col-8 {{vm.level.description}} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut odio magna, ullamcorper quis facilisis ac
    
    //div.mxn2
      //a.button.button-outline.blue.ml2(ng-repeat="tag in ::vm.level.tags | orderBy:tag") {{::tag}}
    span.h5.inline-block.px2.py1.border.border-blue.blue.rounded.mr2(ng-repeat="tag in ::vm.level.tags | orderBy:tag") {{::tag}}
      
  div.px3.py2.bg-lightest-gray.rounded-bottom.border-top.border-lighter-gray
    //button(ng-click="buyLevel(level)", ng-disabled="level.bought").rounded.mr2 Buy now
    div(data-disclosure).relative.inline-block
      a.button.px3
        | Go &nbsp;
        i.fa.fa-arrow-right
      div(data-details).fixed.top-0.right-0.bottom-0.left-0
      div(data-details).absolute.left-0.mt1.nowrap.bg-blue.rounded.animation-fadein.z1
        a(ng-repeat="instance in ::vm.level.instances", ng-href="{{instance.urls[0].url}}", target="_blank").button.button-nav-dark.block
          | {{ ::instance.urls[0].url ? "Instance #"+($index+1) : "Not available"}}

// TODO: Tab Directive
// Navigation

div.bg-white.rounded.shadow-bottom.mt3.gray
  nav(ng-init="tab.value = 'statistics'").p2
    a(ng-click="tab.value = 'statistics'").button.button-narrow.button-transparent.black Statistics
    a(ng-click="tab.value = 'validation'").button.button-narrow.button-transparent Validation
    a(ng-click="tab.value = 'hints'").button.button-narrow.button-transparent Hints

// TODO: Menus as Select with directive to change them in menu in not Mobile
//select(ng-model="tab.value" ng-options="item for item in vm.options")

div(ng-switch="tab.value", style="min-height: 25rem")
  div(ng-switch-default="statistics")
    div(ng-if="vm.level", pw-level-stats, level="vm.level").mt3
  div(ng-switch-when="hints")
    div(ng-if="vm.level", pw-level-hints, level="vm.level", bought-level="vm.orgLevel", buy-hint="vm.buyHint").mt3
  div(ng-switch-when="validation")
    div(ng-if="vm.level", pw-level-validation, level="vm.level", bought-level="vm.orgLevel", validate="vm.validate").mt3
