div.container-small
  h1.mt0.gray.regular Register to Pathwar
  p(ng-if="vm.success").p2.bg-green.rounded.shadow-bottom.white
    | Thank you for registering ! Check your email for confirmation link before you can login.
  div.bg-white.rounded.p2.clearfix
    div.sm-col.sm-col-8
      div.sm-col-9
        b Tips before registering
        ul
          li.mt2
            b READ THE FAQ ! &nbsp;
            a(href="https://github.com/pathwar/pathwar.net#faq") https://github.com/pathwar/pathwar.net#faq
          li.mt1 Be careful when choosing your login, part of Pathwar challenge is to stay as much anonymous as possible.
          li.mt1 Do not use an existing password, the probability that it will get hijacked is high here !
          li.mt1 Have fun !
    form(ng-submit="vm.register(vm.user)").sm-col.sm-col-4
      input(type="text", ng-model="vm.user.login", placeholder="Login").block.full-width.field-light
      input(type="email", ng-model="vm.user.email", placeholder="Email").block.full-width.field-light
      input(type="password", ng-model="vm.user.password", placeholder="Password").block.full-width.field-light
      br
      button(ng-click="").button.mb1.block.full-width Register
