div.center
  div(style="max-width: 400px").inline-block.left-align.full-width
    h2.regular.gray Reset password
    
    form(ng-submit="vm.reset(credentials)", ng-if="!vm.success").p2.rounded.bg-white.shadow-bottom
      p.h5 Enter the email address linked to your account and choose a new password.
      input(type="email", ng-model="credentials.email", placeholder="Email", required).block.full-width.field-light
      input(type="password", ng-model="credentials.password", placeholder="New password", required).block.full-width.field-light
      p.h5 Your new password will be effective once you click the link in a confirmation email.
      input(type="hidden", ng-model="credentials.response")
      div(vc-recaptcha,
          key="vm.reCaptchaPublicKey",
          on-success="credentials.response = response").mb2
      button(type="submit").button.mb1.block.full-width Reset my password
      p.center.h5
        | Nevermind 
        a(ui-sref="login") Cancel
    div(ng-if="vm.success").p2.rounded.bg-white.shadow-bottom
      p.h5 A confirmation email has been sent, click on the link to make your new password effective.
      a(ui-sref="login").button.bg-blue.mb1.block.full-width Back to login
      
