body
  font-family:'Avenir Next','Helvetica Neue',Helvetica,Arial,sans-serif

h1, h2, h3, h4, h5, h6
  font-family:'Avenir Next','Helvetica Neue',Helvetica,Arial,sans-serif
  font-weight: 600

  a
    color: inherit

    &:hover
      text-decoration: none

button, .button
  font-weight: 600

.button.regular
  font-weight: normal

.button-transparent
  z-index: 0

.ucfirst
  text-transform: capitalize

.bg-lighter-gray
  background-color: #eee

.bg-lightest-gray
  background-color: #fafafa

.border-lighter-gray
  border-color: #eee

.shadow-bottom
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.1)

.no-border
  border: 0

.side-menu
  position: fixed
  top: 0
  bottom: 0
  left: 0
  width: 200px

.has-side-menu
  margin-left: 200px

.content
  margin-top: 52px

.avatar-button-left
  margin: -8px .5rem -12px 0;

.avatar-button-right
  margin: -8px 0 -12px .5rem;

.avatar-button
  margin: -8px 0 -12px;

.container-small
  max-width: 58rem
  margin-left: auto
  margin-right: auto

.icon-button
  width: 1.375em
  height: 1em
  font-size: .825rem
  text-align: center
  vertical-align: middle

.box-shadow
  box-shadow: 0 0 10px rgba(17, 17, 17, 0.5)

[ng-click]
  cursor: pointer
