doctype html
html(ng-app="portal", lang="en")
  head
    title Pathwar Portal

    base(href="#{BASE_PATH}")

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    //- bower:css
    //- endinject

    //- inject:css
    //- endinject
    
  body(ng-class="{frontpage: state == 'home'}")

    nav.clearfix.white.bg-dark-gray(ng-controller="NavController")
      div.sm-col
        a.button.button-nav-dark.py2 Pathwar Portal
      div.sm-col-right(ng-show="isAuthentificated()")
        a.button.button-narrow.py2.button-nav-dark.regular
          | Corentin
          img(src="https://www.gravatar.com/avatar/e1300527bd1b39f11673d0545fbfd017?s=48&amp;d=mm", width="32", height="32").circle.avatar-button
      
    
    div.clearfix
    
      nav.side-menu.py2.bg-light-gray.white.sm-show(ng-controller="NavController")
       a.button.button-nav-light.block(ui-sref="home") Dashboard
       a.button.button-nav-light.block(ui-sref="crud.list") CRUD
       a.button.button-nav-light.block(ui-sref="levels") Levels
       a.button.button-nav-light.block(ui-sref="users.list") Users
       a.button.button-nav-light.block(ui-sref="organizations.list") Organizations
       a.button.button-nav-light.block(ng-click="logout()") Logout
       
      div.px2.py2.content(ui-view)

    //- bower:js
    //- endinject

    //- inject:js
    //- endinject

    if env == "production"

      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-47629346-3', 'auto');
