div.container-small
  h3.mt0.regular.gray Account
  div.p2.bg-white.rounded
    a.button.button-transparent.active Account
  div.p2.bg-white.rounded.shadow-bottom.mt2
    form(ng-submit="vm.save(vm.user)")
      div.clearfix
        div.sm-col.sm-col-6
          h4.mt0 Core
          label Login
          input(type="text", ng-model="vm.user.login", placeholder="Login", ng-disabled="vm.user.last_login").block.field-light.mb2.sm-col-8
          p.h5 You can only change your login once
          
          label Email
          input(type="email", ng-model="vm.user.email", placeholder="Email", disabled).block.field-light.mb2.sm-col-8
          
          div.flex.flex-center
            img(src="{{vm.user.getAvatarUrl(32)}}").rounded.flex-right
            p.mb0.flex-auto.px2 Change your avatar on <a href="http://gravatar.com" target="_blank">gravatar.com</a>

        div.sm-col.sm-col-6
          h4.mt0 Details
          
          label Full Name
          input(type="text", ng-model="vm.user.name", placeholder="ex: James Halliday").block.field-light.mb2.sm-col-8
          
          label Location
          input(type="text", ng-model="vm.user.location", placeholder="ex: Paris, France").block.field-light.mb2.sm-col-8
          
          label Company / School
          input(type="text", ng-model="vm.user.company", placeholder="ex: Pathwar / Epitech").block.field-light.mb2.sm-col-8
          
          label School Specific Login
          input(type="text", ng-model="vm.user.student_id", placeholder="ex: lecoq_v").block.field-light.mb2.sm-col-8
          
          p.h5 We need your school login to give you your marks.
          
          label Website
          input(type="text", ng-model="vm.user.website", placeholder="ex: pathwar.net").block.field-light.mb2.sm-col-8
          
          label Public profiles
          input(type="text", ng-model="vm.user.github_handle", placeholder="ex: github.com/substack").block.field-light.mb2.sm-col-8
          input(type="text", ng-model="vm.user.twitter_handle", placeholder="ex: twitter.com/substack").block.field-light.mb2.sm-col-8
          
      hr.mb2
      input(type="submit", value="Save Changes").button
