h2.mt0.mb2.regular.mid-gray Admin

div.bg-white.rounded.shadow-bottom.mt0.gray
  nav.p2
    a(ui-sref=".settings").button.button-narrow.button-transparent.black Settings
    a(ui-sref=".members").button.button-narrow.button-transparent.black Members
    a(ui-sref=".invites").button.button-narrow.button-transparent.black Invites

div(ui-view="").mt2
