div.p2.bg-white.rounded
  h3.mt0.regular.gray Add users to your organization
  div.clearfix.mt2
    div.sm-col.sm-col-6
      
      b Tips before inviting users
      ul.sm-col-10.mt2
        li You can only invite registered and confirmed users
        li You can only invite users who did not create an organization on the same session as yours
        
    form(ng-submit="vm.invite(vm.invites)").sm-col.sm-col-4
      div(ng-repeat="invite in vm.invites")
        //label Invite \#{{$index + 1}}
        input(type="text", ng-model="invite.user", placeholder="Enter user login").field-light.block.full-width.mb2
      //button(ng-click="vm.add()").button-small.rounded Add another
      //hr
      input(type="submit", value="Send invites").button
