div.bg-white.rounded-bottom
  div.p2.rounded-top.bg-light-gray
    a.button.button-transparent.regular Pending Invites ({{vm.pending_invites.length}})
    a.button.button-transparent.regular Accepted Invites ({{vm.accepted_invites.length}})
    a(ui-sref="^.invite").button.right Invite New Member
  div.p2
    p(ng-if="vm.pending_invites.length == 0") You haven't invited anyone
    div(ng-repeat="invite in vm.pending_invites").flex.flex-center.mb2
      a.block.clearfix.flex-auto
        img(ng-src="{{invite.user.getAvatarUrl(48)}}").rounded.left.mr2
        span.ucfirst {{invite.user.login}}
        br
        | {{invite.user.email}}
      div.flex
        | Invited&nbsp;
        time(pw-time-ago="{{invite._created}}")
        
    
