div.py1.bg-white.rounded
  div(ng-repeat="member in vm.members").flex.flex-center.px2.py1.bg-lightest-gray-hover
    img(ng-src="{{member.user.getAvatarUrl(48)}}").rounded.mr2.flex-left
    div.flex-auto
     span.ucfirst {{member.user.login}}
     span(ng-if="member.role == 'owner'").inline-block.ml1.h6.rounded.px1.bg-red.white {{member.role}}
    a(ng-if="vm.currentUserMembership.role == 'owner' && member.role != 'owner'",
      ng-click="vm.makeAdmin(member)").button.button-small.h5.bg-gray.black.flex-right
      | Make admin
