div.p3.mb3.rounded.bg-white.clearfix.shadow-bottom
  img(ng-src="{{::vm.organization.getAvatarUrl(150)}}", width="150", height="150").rounded.left.mr3
  div
    h1.m0.ucfirst {{::vm.organization.name}}
    h4.mt0.light-gray Formed 2012
    h4 Paris, France

div.clearfix.mxn2
  div.md-col.md-col-6.px2
    h2.mt0.regular.mid-gray Statistics
    div.p3.mb3.rounded.bg-white.shadow-bottom
      dl
        dt Levels finished
        dd 3

        dt Cash spent
        dd 12982

  div.md-col.md-col-6.px2
    h2.mt0.regular.mid-gray Achievements
    div.mb3.rounded.bg-white.md-col-4.shadow-bottom
      div.p2
        | Achievement
