h2.m0.regular.mid-gray
  a(ui-sref="chat.room")
    | Chat

div.mt2
  each val in [1, 2, 3, 4, 5, 6, 7, 8]
    div(ng-repeat="message in vm.messages", ng-class="{'mt12': !$first}").flex.flex-start.mt2
      div.flex
        img(ng-src="{{message.from.getAvatarUrl(32)}}", width="32", height="32")
      div.flex-auto.ml2
        div.p2.bg-white.rounded.shadow-bottom
          div {{message.message}}
          div.gray.p1.h5 3w ago
    
div.p2.bg-white.rounded.mt2.clearfix.shadow-bottom(style="position: sticky")
  form(ng-submit="vm.sendMessage(message)")
    input(type="text", placeholder="Enter your message here", ng-model="message.value").field-light.no-border.m0.block.full-width
