div.p3.bg-white.rounded
  h3.mt0.light-gray.regular Hints
  
  div(ng-hide="::vm.level.hints.length")
    p.gray No hints available for this level
  
  table(ng-if="::vm.level.hints.length").table-light
    thead.bold.bg-darken-1
      tr
        th Hint
        th Price
        th
    tbody
      tr(ng-repeat="hint in ::vm.level.hints")
        td {{hint.name}}
        td {{hint.price}}
        td.right-align
          button.button(ng-click="vm.buyHint(hint)", ng-disabled="hint.bought") Buy
