div.p3.bg-white.rounded.mt3
  h3.mt0.light-gray.regular Hints
  
  p(ng-if="!vm.level.bought").gray You must buy this level first
  
  div(ng-if="vm.level.bought")
  
    div(ng-hide="::vm.level.hints.length")
      p.gray No hints available for this level
    
    table(ng-if="::vm.level.hints.length").table-light
      thead.bold.bg-darken-1
        tr
          th Hint
          th Price
          th
      tbody
        tr(ng-repeat="hint in ::vm.level.hints")
          td {{hint.name}}
          td {{hint.price}}
          td.right-align
            button.button(ng-click="vm.buyHint(hint)", ng-disabled="hint.bought") Buy
