div.p3.bg-white.rounded.mt3
  h3.mt0.light-gray.regular Statistics
  div.clearfix.mnx2.mt3
    div.sm-col.sm-col-3.px2
      img(src="//placehold.it/300x300").rounded
    div.sm-col.sm-col-3.px2
      img(src="//placehold.it/300x300").rounded
    div.sm-col.sm-col-3.px2
      img(src="//placehold.it/300x300").rounded
    div.sm-col.sm-col-3.px2
      img(src="//placehold.it/300x300").rounded
