div.p3.bg-white.rounded
  h3.mt0.light-gray.regular Statistics

  p.gray {{vm.level.statistics.amount_bought}} organizations played this level
  p.gray {{vm.level.statistics.amount_finished}} of them finished it in average of {{vm.level.statistics.duration_average}} minutes
  
  p.gray {{vm.level.statistics.amount_hints_bought}} hints have been used for this level
//
  div.clearfix.mxn2.mt3
    div.sm-col.sm-col-3.px2
      img(src="//placehold.it/300x300").rounded
    div.sm-col.sm-col-3.px2
      img(src="//placehold.it/300x300").rounded
    div.sm-col.sm-col-3.px2
      img(src="//placehold.it/300x300").rounded
    div.sm-col.sm-col-3.px2
      img(src="//placehold.it/300x300").rounded

//
  h3.mt3.regular.mid-gray Latest finishers
  div.bg-white.rounded.shadow-bottom
    div.p2
      nav.clearfix
        a.button.button-transparent This Week
        a.button.button-transparent This Month
        a.button.button-transparent All Time
    
    div.bg-lightest-gray
      table.table-light
        - for (var i =0; i< 10; i++) {
          div.flex.flex-center.border-lighter-gray.border-top.py1.px2
            div.px1.h5 #{i}
            div.px2.flex: img(src="//placehold.it/32x32")
            div.flex-auto Organization #{i}
        - }
