table.table-light
  thead
    tr
      th Name
      th
  tbody
    tr(ng-repeat="organization in organizations")
      td: a(ui-sref="^.view({id: organization._id})") {{::organization.name}}
      td.right-align
        button(ui-sref="^.edit({id: organization._id})").button-blue.button-small.h6 Edit
        button.button-red.button-small.h6.ml1 Remove
