
div.bg-white.rounded.shadow-bottom
  div.p2
    h3.m0.regular.mid-gray Hall of <span class="ucwords">{{::vm.hall}}</span>
  div.bg-lightest-gray
    p.p1 Coming soon ...
    //table.table-light
      //- for (var i =0; i< 25; i++) {
        //div.flex.flex-center.border-lighter-gray.border-top.py1.px2
          //div.px1.h5 #{i}
          //div.px2.flex: img(src="//placehold.it/32x32")
          //div.flex-auto Organization #{i}
      //- }
