h2.m0.regular.mid-gray
  a(ui-sref="home")
    | Statistics
    
div.p2.bg-white.rounded.mt2.shadow-bottom.mb3.gray
  nav
    a(ui-sref=".main", ui-sref-active="black").button.button-small.button-transparent.mr2 Statistics
    a(ui-sref=".hall({hall: 'powned'})", ui-sref-active="black").button.button-small.button-transparent.mr2 Hall of Powned
    a(ui-sref=".hall({hall: 'success'})", ui-sref-active="black").button.button-small.button-transparent.mr2 Hall of Success
    a(ui-sref=".hall({hall: 'whoiswho'})", ui-sref-active="black").button.button-small.button-transparent.mr2 Hall of Who is Who
    a(ui-sref=".hall({hall: 'deface'})", ui-sref-active="black").button.button-small.button-transparent.mr2 Hall of Deface
    
div(ui-view="")
