h2.mt0.mb2.regular.mid-gray
  a(ui-sref="users.list")
    | Users

div.p3.rounded.mb3.bg-white.shadow-bottom
  table.table-light
    thead.bg-lighter-gray
      tr
        th Login
        th Email
        th Role
    tbody
      tr(ng-repeat="user in users")
        td: a(ui-sref="^.view({id: user._id})") {{::user.login}}
        td {{::user.email}}
        td {{::user.role}}
