div.center
  h1 Login to Pathwar
  div.sm-col-6.inline-block
    input(type="text", ng-model="credentials.username", placeholder="Username").block.full-width.field-light
    input(type="password", ng-model="credentials.password", placeholder="Password").block.full-width.field-light
    br
    button(ng-click="login()").button-blue.mb1.block.full-width Login
